header {
    display: grid;
    place-items: center;
    border-bottom: 2px dotted blue;
    margin-bottom: 3px;
}

footer {
    height: 50px;
    width: 100vw;
    display: grid;
    place-items: center;
    background: grey;
    opacity: 0.4;
}

h1 {
    font-size: 65px;
}

main {
    display: grid;
    place-items: center;
}